#container {
    width: 100vw;
}

#title {
    font-size: 200%;
    margin-left: 0;
    padding-top: 20px;
    text-align: center;
}

#header {
    display: flex;
    font-size: 125%;
    justify-content: space-evenly;
    margin: 30px auto 10px auto;
}

#play {
    font-size: 125%;
    text-align: center;
}

#difficulty {
    cursor: pointer;
    font-size: 150%;
    margin-top: 10vh;
    text-align: center;
}

#difficulty div {
    padding: 2vh 0;
}

#player-tile {
    height: 30vw;
    margin: 10vh auto;
    width: 20vw;
}

.select-tile {
    cursor: pointer;
    height: 100%;
    max-height: 130px;
    max-width: 130px;
    overflow: hidden;
    width: 100%;
}

#play-again {
    cursor: pointer;
    font-size: 150%;
    margin-top: 20px;
    text-align: center;
}

@media (min-width: $tablet-breakpoint) {
    #container {
        width: 450px;
    }

    #player-tile {
        width: 10vw;
    }
}